<p>
  <b>Firstname:</b>
  <%=h @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @user.lastname %>
</p>

<% for @w in @user.wallets%>
  <%=link_to @w.name, wallet_path(@w) %>
  <br />
<%end%>
<br />
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>