<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h("Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <!-- MENU -->
      <ul style="display:inline; margin: 0; padding: 0; list-style-type: none;">
        <li style="display:inline;"><%=link_to 'Users', users_path %></li>
        <li style="display:inline;"><%=link_to 'Wallets', users_path %></li>
        <li style="display:inline;"><%=link_to 'Investments', users_path %></li>
        <li style="display:inline;"><%=link_to 'About', about_path %></li>
      </ul>
      
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      
      <%= yield %>
    </div>
  </body>
</html>
